


extends ../layout

block content
  h2 Cars
  a(href="/cars/add") Add New Car
  table
    thead
      tr
        th ID
        th Name
        th Model
        th Price per Day
        th Available
        th Actions
    tbody
      each car in cars
        tr
          td= car.id
          td= car.name
          td= car.model
          td $#{car.price_per_day}
          td= car.available ? "Yes" : "No"
          td
            a(href=`/cars/edit/${car.id}`) Edit
            form(action=`/cars/delete/${car.id}`, method="POST", style="display:inline")
              button(type="submit") Delete
